.holder {
    padding: 1rem;
    border-radius: 28px;
    background-color: rgba(251, 255, 255, 0.514);
    min-width: 60%;
    margin-bottom: 2rem;


    .repo {
        background-color: black;
        color: whitesmoke;
        padding: .3rem 1rem .3rem .3rem;
        margin-top: 2rem;
        border-radius: 15px;
        min-width: 400px;

    }

}