.base {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #38A3A5;
    overflow: hidden;    

    nav {
        background-color: transparent;
        display: flex;
        padding: .5rem 5rem;

        a {
            color: black;
        }
    }

    .overlay {
        background-color: rgba(251, 255, 255, 0.514);
        height: 620px;
        width: 90%;
        margin: 0 auto;
        border-radius: 28px;
        text-align: center;
        display: flex;

        box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75); 
        
    }


    #container {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        .bar {
            width: 70%;
            height: 150px;
            margin: 0 auto;
            background-image: url(https://blush.design/api/download?shareUri=46QoGCwxBcI8iSjJ&bg=38a3a5&w=800&h=800&fm=png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .search-bar {
            width: 60%;
            height: 60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                border-radius: 15px;
            }

            button {
                border-radius: 15px;
            }

        }

    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .user-info {
            padding-right: 1rem;           
        }

        .user-repos {
            padding-left: 1rem;
            margin-top: 1rem;
        }
    }

}