.base {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #38A3A5;

    .nav-link {
        color: #FFB703;
    }

    nav {
        background-color: transparent;
        display: flex;
        padding: .5rem 5rem;

        a {
            color: black;

            
        }
    }

    .overlay {
        height: 620px;
        background-color: #82EEF1;
        width: 70%;
        margin: 0 auto;
        border-radius: 28px;
        text-align: center;
        display: flex;

        box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 15px -6px rgba(0,0,0,0.75);


        .text {
            flex: 1;
            border-radius: 28px 0 0 28px;
            display: flex;
            text-align: left;
            align-items: center;
            padding-left: 2rem;

            span {
                color: #FFB703;
            }

            h3 {
                font-size: 32px;
            }

            a {
                text-decoration: none;
                height: 50;
                width: 158;
                background-color: #011627;
                padding: .5rem 1rem;
                color: whitesmoke;
            }
        }

        .img {
            flex: 1;
            border-radius: 0 28px 28px 0;
            display: flex;
            align-items: center;
            justify-content: center; 
            background-image: url(https://blush.design/api/download?shareUri=RsKyVeevf&bg=82eef1&w=800&h=800&fm=png);
            background-size: cover;

            
            img {
                height: auto;
                width: auto;
            }

           
        }
    }

}